<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding" id="title"></div>
        <div class="right">
            <a href="request.html">Request</a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="product-request" class="page">
        <div class="page-content">
            <div class="list-block media-list" id="product-request-list"></div>
        </div>

        <script type="text/template7" id="productsTemplate">
            <ul>
            {{#each this}}
                <li>
                    <a href="#" class="item-link item-content" data-id="{{id}}" data-title="{{title}}">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{title}}</div>
                                <div class="item-after">{{quantity}}</div>
                            </div>
                            <div class="item-text">{{description}}</div>
                        </div>
                    </a>
                </li>
            {{/each}}
            </ul>
        </script>
    </div>
</div>