<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="center sliding">Product</div>
        <div class="right">
            <a href="#" id="logout-button">Logout</a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="product" class="page">
        <div class="page-content">
            <div class="tabs">
                <div id="tab-product" class="tab active">
                    <div class="list-block media-list" id="product-list"></div>
                </div>
                <div id="tab-request" class="tab">
                    <div class="list-block media-list" id="request-list"></div>
                </div>
            </div>
        </div>

        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="#tab-product" class="tab-link active">
                    <span class="tabbar-label">Product</span>
                </a>
                <a href="#tab-request" class="tab-link">
                    <span class="tabbar-label">Request</span>
                </a>
            </div>
        </div>

        <script type="text/template7" id="productsTemplate">
            <ul>
            {{#each this}}
                <li>
                    <a href="#" class="item-link item-content" data-id="{{id}}" data-title="{{title}}">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{title}}</div>
                                <div class="item-after">{{quantity}}</div>
                            </div>
                            <div class="item-text">{{description}}</div>
                        </div>
                    </a>
                </li>
            {{/each}}
            </ul>
        </script>
    </div>
</div>