<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="center sliding">Login</div>
        <div class="right">
            <a href="#" id="login-button">Login</a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="login" class="page">
        <div class="page-content">
            <div class="content-block-title">Login</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Email</div>
                                <div class="item-input">
                                    <input type="text" id="email" placeholder="john@example.com">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Password</div>
                                <div class="item-input">
                                    <input type="password" id="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
